## Ingestión de Datos en Pandas

Cuando se analizan datos, es común que estos provengan de varias fuentes:

* Archivos CSV
* Archivos de Excel
* Bases de Datos
* Enlaces Locales o Remotos

Pandas provee una variedad de funciones dedicadas a la ingestión de datos, pues dentro de cada una de estas categorías (y otras) pueden existir muchas diferencias entre un formato y otro.

La documentación de estas funciones puede encontrarse acá: 

https://pandas.pydata.org/pandas-docs/stable/reference/io.html

In [1]:
# Empezamos importando los paquetes relevantes:
import pandas as pd

### Consultando documentación:

Cuando una librería se encuentra bien documentada, se puede utilizar la función de **help** para consultar la documentación de esa funcion, directamente dentro de Jupyter. Por ejemplo, en este documento vamos a explorar la función **read_csv**, utilizada para ingerir **archivos separados por coma**. Este es un formato estandar, y puede ser generado desde archivos de excel, manejadores de bases de datos, etc.

Podemos entonces consultar su documentación con el siguiente comando:

In [2]:
# Despliegue y revise la información de read_csv usando este comando:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

Como es evidente, la función **read_csv** posee una cantidad inmensa de posibles entradas. Sin embargo, muchas de ellas (todas las que siguen el formato de *nombre=valor*) **son opcionales**. La única entrada obligatoria es la primera: **filepath_or_buffer**, que recibe la dirección del archivo que se está cargando.

Para el siguiente ejemplo, asegúrese de haber descargado el archivo **titanic.csv** y haberlo colocado en el mismo directorio que este *notebook*.

In [3]:
# Cargamos el dataframe

df = pd.read_csv("titanic.csv")

In [4]:
# Imprimimos las primeras columnas para asegurarnos de que se cargó correctamente:

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

La función **read_csv** se encarga de cargar los datos de manera automatica, **siempre y cuando el archivo se encuentre en un formato estándar**. Exploremos el archivo titanic.csv abriéndolo en un editor de texto como Block de Notas:

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S
6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S

Podemos observar algunas características que concuerdan con los **valores por defecto** para los argumentos de la función **read_csv**:

* Los nombres de las columnas se encuentran en la primera linea del archivo, separados por coma
* Cada linea del archivo representa una observación
* Los valores nulos son omitidos en el archivo (ver penultimo valor de la primera observación)
* Los strings que contienen espacios se encuentran rodeados por comillas

**Si el archivo que estamos cargando no cumple con esta u otras propiedades por defecto, será necesario utilizar los parámetros opcionales de la función para ingerirlo de manera correcta**.

Para el siguiente ejemplo, asegúrese de haber descargado el archivo **airquality.csv** y haberlo colocado en el mismo directorio que este *notebook*.

Abra el archivo airquality.csv en un editor de texto y explore sus contenidos:

timestamp;BASCH;BONAP;PA18;VERS
;microg/m3;microg/m3;microg/m3;microg/m3
2000-01-01 01:00:00;108.0;n/d;65.0;47.0
2000-01-01 02:00:00;104.0;60.0;77.0;42.0
2000-01-01 03:00:00;97.0;58.0;73.0;34.0
2000-01-01 04:00:00;77.0;52.0;57.0;29.0
2000-01-01 05:00:00;79.0;52.0;64.0;28.0

Este dataset corresponde a medidas de calidad de aire hechas regularmente por 4 centros de observación. Posee una columna de timestamp que representa la fecha y hora en la que se tomó la medida, y 4 valores que corresponden a las medidas hechas por los 4 centros de observación. Sin embargo, podemos ver varias diferencias en el formato con respecto al archivo anterior:

* La segunda linea posee información de medida que no debe ser incluida en el dataset resultante.
* El separador usado es el **punto y coma** (;), no la coma sencilla.
* Los valores nulos no están en blanco, sino que usan el string **n/d** (ver primera observación).

En este caso debemos usar los parametros opcionales **sep** para indicar el separador diferente, **skiprows** para ignorar la fila 1 (recordemos que incluso los archivos se indixan a partir de 0) del archivo y **na_values** para que interprete n/d como valores vacios.

In [5]:
# Ingestión erronea sin usar parametros opcionales:
df = pd.read_csv("airquality.csv")
df.head()

            timestamp;BASCH;BONAP;PA18;VERS
0  ;microg/m3;microg/m3;microg/m3;microg/m3
1   2000-01-01 01:00:00;108.0;n/d;65.0;47.0
2  2000-01-01 02:00:00;104.0;60.0;77.0;42.0
3   2000-01-01 03:00:00;97.0;58.0;73.0;34.0
4   2000-01-01 04:00:00;77.0;52.0;57.0;29.0

In [6]:
# Información erronea, declarando sólo una columna:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149040 entries, 0 to 149039
Data columns (total 1 columns):
timestamp;BASCH;BONAP;PA18;VERS    149040 non-null object
dtypes: object(1)
memory usage: 1.1+ MB

In [7]:
# Ingestión correcta especificando los parámetros correctos:
df = pd.read_csv("airquality.csv", sep=";", skiprows=[1], na_values=["n/d"])
df.head()

             timestamp  BASCH  BONAP  PA18  VERS
0  2000-01-01 01:00:00  108.0    NaN  65.0  47.0
1  2000-01-01 02:00:00  104.0   60.0  77.0  42.0
2  2000-01-01 03:00:00   97.0   58.0  73.0  34.0
3  2000-01-01 04:00:00   77.0   52.0  57.0  29.0
4  2000-01-01 05:00:00   79.0   52.0  64.0  28.0

In [8]:
# Información correcta, con columnas diferenciadas
# y valores nulos reconocidos.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149039 entries, 0 to 149038
Data columns (total 5 columns):
timestamp    149039 non-null object
BASCH        139949 non-null float64
BONAP        136493 non-null float64
PA18         142259 non-null float64
VERS         143813 non-null float64
dtypes: float64(4), object(1)
memory usage: 5.7+ MB

Como es evidente, el proceso de ingestión va a depender mucho del formato en el que se encuentre el set de datos.

**Tip:** read_csv y las otras funciones de lectura permiten como entrada direcciones de **recursos externos**, no solamente archivos locales.

In [9]:
poke_df = pd.read_csv("https://raw.githubusercontent.com/fireblend-clases/pandas-tutorial/master/data/pokemon.csv")
poke_df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

### Cambio de Índice

El índice que se le asigna a un DataFrame por defecto siempre es una columna que va desde 0 y hasta el número de observaciones-1. Sin embargo, es posible indicar como parte de la ingestión, si se desea usar otro índice, como por ejemplo alguna de las columnas del DataFrame.

En el DataFrame de observaciones de calidad de aire (airquality.csv) la columna de **timestamp** puede ser usada como índice, debido a que **no posee valores repetidos**.

En ese caso, podemos usar el argumento **index_col** en read_csv para indicar la columna a usar como índice:

In [10]:
# Se indica la columna de timestamp como índice:
air_q = pd.read_csv("airquality.csv", sep=";", skiprows=[1], na_values=["n/d"], index_col=["timestamp"])

air_q.head()

                     BASCH  BONAP  PA18  VERS
timestamp
2000-01-01 01:00:00  108.0    NaN  65.0  47.0
2000-01-01 02:00:00  104.0   60.0  77.0  42.0
2000-01-01 03:00:00   97.0   58.0  73.0  34.0
2000-01-01 04:00:00   77.0   52.0  57.0  29.0
2000-01-01 05:00:00   79.0   52.0  64.0  28.0

Como puede observarse, el indice ya no es un rango numérico a partir de 0, sino una fecha y hora.

In [11]:
air_q.index

Index(['2000-01-01 01:00:00', '2000-01-01 02:00:00', '2000-01-01 03:00:00',
       '2000-01-01 04:00:00', '2000-01-01 05:00:00', '2000-01-01 06:00:00',
       '2000-01-01 07:00:00', '2000-01-01 08:00:00', '2000-01-01 09:00:00',
       '2000-01-01 10:00:00',
       ...
       '2016-12-31 14:00:00', '2016-12-31 15:00:00', '2016-12-31 16:00:00',
       '2016-12-31 17:00:00', '2016-12-31 18:00:00', '2016-12-31 19:00:00',
       '2016-12-31 20:00:00', '2016-12-31 21:00:00', '2016-12-31 22:00:00',
       '2016-12-31 23:00:00'],
      dtype='object', name='timestamp', length=149039)

Al intercambiar el índice por uno diferente, el método de indexación cambia.

Por ejemplo, ahora podemos referirnos a una observación por la fecha y hora en la que fue obtenida, usando la propiedad **loc** del DataFrame:

In [12]:
air_q.loc['2016-12-31 14:00:00']

BASCH    80.0
BONAP    58.0
PA18     52.0
VERS     23.0
Name: 2016-12-31 14:00:00, dtype: float64

O las observaciones entre dos momentos en el tiempo:

In [13]:
air_q.loc['2015-12-31 14:00:00':'2015-12-31 18:00:00']

                     BASCH  BONAP  PA18  VERS
timestamp
2015-12-31 14:00:00   92.0   48.0  23.0  12.0
2015-12-31 15:00:00  109.0   56.0  29.0  11.0
2015-12-31 16:00:00  138.0   63.0  41.0  17.0
2015-12-31 17:00:00  126.0   70.0  61.0  18.0
2015-12-31 18:00:00  143.0   73.0  68.0  24.0

No es necesario especificar el índice a ser utilizado durante la ingestión. Por ejemplo, el dataset de Pokemon cargado anteriormente tiene el índice por defecto a partir de 0:

In [14]:
poke_df.index

RangeIndex(start=0, stop=801, step=1)

Pero este index puede ser sobreescrito por algún otro valor, como una columna. En este caso podemos usar el nombre de cada Pokemon en el dataset:

In [15]:
poke_df.index = poke_df.name

In [16]:
poke_df.index

Index(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon',
       'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie',
       ...
       'Lunala', 'Nihilego', 'Buzzwole', 'Pheromosa', 'Xurkitree',
       'Celesteela', 'Kartana', 'Guzzlord', 'Necrozma', 'Magearna'],
      dtype='object', name='name', length=801)

In [17]:
poke_df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
name,,,,,,,,,,,,,,,,,,,,,
Bulbasaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
Ivysaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
Venusaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0

Si quisieramos deshacer este cambio, resetear el índice del DataFrame para asignarle el que Pandas usaría por defecto:

In [18]:
poke_df = poke_df.reset_index(drop=True)
poke_df.index

RangeIndex(start=0, stop=801, step=1)

## Escritura a archivos

Es común el querer almacenar DataFrames en la forma de archivos csv, ya sea para guardar los resultados de un proceso de limpieza o transformación, compartir resultados o pasar un DataFrame a otro ambiente de análisis como **Tableau** o **R**.

Para esto, puede usarse la función **to_csv**:

In [19]:
# Escribe el estado actual del DataFrame al archivo "pokemon.csv"
poke_df.to_csv("pokemon.csv")